* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%;
}
h1,
h2,
h3,
h4 {
  font-family: "Heebo", sans-serif;
}
em {
  font-size: 1.1em;
  font-weight: 800;
}
.wrapper {
  background-color: ghostwhite;
  font-size: 1.6em;
  display: flex;
  flex-direction: column;
  padding: 5% 10%;
}
.wrapper .projectList {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
}

.wrapper .projectList li {
  list-style: none;
  margin: 10px;
  flex: 1 1 40%;
  border: 1.5px solid black;
  border-radius: 0.2em;
  overflow: hidden;
}

.wrapper .projectList li h4 {
  padding: 0.5rem 1rem;
}

@media screen and (max-width: 1200px) {
  .wrapper .projectList li {
    flex-basis: 100%;
    height: 60vh;
  }
}

.page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid black;
  background-color: rgba(255, 255, 255, 0.817);
  width: 100%;
}
header ul {
  display: flex;
}
header ul li {
  list-style-type: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}
header ul li:hover {
  /* border: 1px solid black;
  border-radius: 4px;
  background-color: black; */
  color: black;
}

.board {
  background-color: whitesmoke;
  width: 80%;
  padding: 2em;
  border-radius: 0.3em;
  margin: 2rem auto 4rem auto;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(108, 108, 108, 0.68) 2px 2px 4px;
}
.board > * {
  margin-bottom: 1em;
}
.h_btn_group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
}
.btn_group {
  height: 60px;
}
.h_btn_group button {
  padding: 0.5rem 1rem;
  height: 40px;
  outline: none;
  border-radius: 5px;
  border: none;
  color: white;
  box-shadow: rgba(108, 108, 108, 0.68) 2px 2px 4px;
}
.markdownPreviewer {
  background-color: rgb(169, 190, 213);
  display: flex;
  justify-content: space-around;
}

.toolbar {
  width: 100%;
  position: relative;
  height: 40px;
  text-align: center;
  padding: 0.5rem;
}
.toolbar h1 {
  line-height: 100%;
}
textarea {
  resize: vertical;
  outline: none;
  border: none;
}
.input,
.output {
  width: 100%;
  height: 95%;
  background-color: whitesmoke;
  border-radius: 5px;
  padding: 2rem;
  overflow: scroll;
}
.output {
  line-height: 1.8rem;
}
.output img {
  width: 30%;
  height: auto;
}
/*---------------------------------- drum machine */
.drumMachine {
  background-color: darksalmon;
}
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 35%;
}
.drumMachine .btn_group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 0.5em;
  height: 200px;
}

.drumMachine .btn_group button {
  background-color: rgb(222, 222, 222);
  border: none;
  box-shadow: gray 2px 2px 2px;
  border-radius: 0.6em;
}
.drumMachine .btn_group button:hover {
  box-shadow: gray 3px 3px 3px;
  color: darksalmon;
}
.drumMachine .controlers {
  display: flex;
  text-align: center;
  margin-top: 0.5em;
}
@media screen and (max-width: 1200px) {
  .drumMachine .board {
    flex-direction: row;
  }
  .drumMachine .btn_group {
    width: 60%;
    margin-right: 1em;
  }
  .drumMachine .controlers {
    flex-direction: column;
  }
}
@media screen and (max-width: 720px) {
  .drumMachine .board {
    flex-direction: column;
    width: 70%;
    padding: 5%;
  }
  .drumMachine .btn_group {
    width: 100%;
    margin-right: 1em;
    height: 160px;
    grid-gap: 0.4em;
  }
  .flex-column {
    margin-bottom: 0;
  }
}

/*switch and screen*/
.drumMachine p {
  width: 100%;
  height: 3em;
  line-height: 3em;
  text-align: center;
  vertical-align: middle;
  background: linear-gradient(
    90deg,
    rgba(37, 37, 37, 1) 0%,
    rgba(84, 84, 84, 1) 35%,
    rgba(60, 60, 60, 1) 100%
  );
  color: white;
  border-radius: 5px;
}
.drumMachine .controlers input {
  width: 98%;
}
.controlers .btn_container {
  height: 30px;
  width: 50px;
  margin-left: 1rem;
  border-radius: 15px;
  background-color: rgb(72, 72, 72);
  box-shadow: rgb(169, 169, 169) 1px 1px 1px;
}
.btn_container button {
  height: 30px;
  width: 31px;
  border-radius: 50%;
  border: 3px solid rgb(72, 72, 72);
}

/*---------------------calculator */
.calculator {
  background-color: rgb(163, 198, 163);
}
.calculator .board {
  padding: 1.2em;
}
.calculator .board p {
  padding: 1.5rem;
  height: 100%;
  text-align: end;
}

.calculator .screen {
  background-color: rgb(77, 96, 77);
  height: 180px;
  margin: 0.5rem;
  border-radius: 8px;
}
.calculator .keys {
  /* border: 1px solid red; */
  display: grid;
  grid: repeat(5, 60px) / repeat(4, 1fr);
  /* justify-content: space-between;
  align-content: space-between; */
  padding: 0.1rem 0.5rem 0.5rem 0.5rem;
  grid-gap: 0.2em;
}
/* .calculator .keys > * {
  border: 2px solid blue;
} */

.calculator .keys :first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}
.calculator .keys :last-child {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 6;
}
.calculator .keys :nth-last-child(3) {
  grid-column-start: 1;
  grid-column-end: 3;
}
@media screen and (max-width: 1200px) {
  .calculator .screen {
    height: 100px;
  }
  .calculator .keys {
    grid: repeat(5, 40px) / repeat(4, 1fr);
  }
}
/* @media screen and (max-width: 580px) {
  .calculator .keys {
    grid: repeat(5, 80px) / repeat(4, 1fr);
  }
} */
/*--------------------------------------- clock------- */
.clock {
  background-color: rgb(250, 248, 176);
}

.setup table {
  text-align: right;
  width: 100%;
}
.setup table th {
  text-align: right;
}
.setup table tr {
  height: 1.8em;
}
.setup table td {
  width: 120px;
}
.setup table td input {
  padding-left: 0.5rem;
}
.clock button {
  width: 2em;
  height: 2em;
  border: 0.5px solid grey;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.1em 0.1em grey;
}
.clock input {
  width: 3em;
  height: 2em;
  margin: 0 0.4em;
}

.clock .display {
  padding: 1.5rem;
  text-align: center;
  height: 63%;
  background-color: rgb(237, 224, 129);
  border-radius: 8px;
}

.clock .btn_group {
  height: 2rem;
  width: 50%;
  min-width: 10em;
  max-width: 15em;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.clock .btn_group button {
  width: 3rem;
  height: 2rem;
}
@media screen and (max-width: 580px) {
  .wrapper {
    width: 100%;
    margin: 0;
    padding: 8%;
    font-size: 1.4em;
  }
  .clock .btn_group {
    width: 100%;
  }
}
